<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<h1 *ngIf="!browsePageInitialized">Find the <strong>perfect</strong> sublet for University.</h1>

<!--************ Start of Initialize Search Filters Scene ************-->
<div *ngIf="!browsePageInitialized">
    <div class="card select-default-filters-card">

        <div class="col-md-3">
            <h5>Location</h5>
            <input placeholder="University, city, address etc." class="form-control input-field" />
        </div>
        <div class="col-md-3">
            <h5>Start Date</h5>
            <datepicker class="custom1" [(ngModel)]="date" [expanded]="true"></datepicker>
        </div>
        <div class="col-md-2">
            <h5>Sublet Length</h5>
            <select #length [value]="filters.length" (change)="configureFilters('length', length.value)" _ngcontent-mfy-18="" class="form-control input-field">
                <option _ngcontent-mfy-18="">Any</option>
                <option _ngcontent-mfy-18="">4</option>
                <option _ngcontent-mfy-18="">8</option>
                <option _ngcontent-mfy-18="">12</option>
            </select>
        </div>
        <div class="col-md-2">
            <h5>Rooms Available</h5>
            <select #roomsAvailable [value]="filters.rooms_available" (change)="configureFilters('roomsAvailable', roomsAvailable.value)" _ngcontent-mfy-18="" class="form-control input-field">
                <option _ngcontent-mfy-18="">Any</option>
                <option _ngcontent-mfy-18="">1</option>
                <option _ngcontent-mfy-18="">2</option>
                <option _ngcontent-mfy-18="">3</option>
                <option _ngcontent-mfy-18="">4</option>
                <option _ngcontent-mfy-18="">5</option>
                <option _ngcontent-mfy-18="">6</option>
                <option _ngcontent-mfy-18="">7</option>
                <option _ngcontent-mfy-18="">8</option>
            </select>
        </div>
        <div class="col-md-2">
            <h5>&nbsp;</h5>
            <button (click)="handleInitialFilterSubmit()" class="btn btn-primary submit-filters-btn">Submit</button>
        </div>
    </div>
</div>
<!--************End of Initialize Search Filters Scene ************-->

<!--************ Start of Main Browse Scene ************-->

<div *ngIf="browsePageInitialized">
    <div class="card select-browse-filters-card">
        <div class="filter-card-row">
            <div class="filter-card-25">
                <h5>Location</h5>
                <input placeholder="University, city, address etc." class="form-control input-field" />
            </div>
            <div class="filter-card-20">
                <h5>Start Date</h5>
                <datepicker class="custom1" [(ngModel)]="date" [expanded]="true"></datepicker>
            </div>
            <div class="filter-card-20">
                <h5>Sublet Length</h5>
                <select #length [value]="filters.length" (change)="configureFilters('length', length.value)" _ngcontent-mfy-18="" class="form-control input-field">
                    <option _ngcontent-mfy-18="">Any</option>
                    <option _ngcontent-mfy-18="">4</option>
                    <option _ngcontent-mfy-18="">8</option>
                    <option _ngcontent-mfy-18="">12</option>
                </select>
            </div>
            <div class="filter-card-20">
                <h5>Rooms Available</h5>
                <select #roomsAvailable [value]="filters.rooms_available" (change)="configureFilters('roomsAvailable', roomsAvailable.value)" _ngcontent-mfy-18="" class="form-control input-field">
                    <option _ngcontent-mfy-18="">Any</option>
                    <option _ngcontent-mfy-18="">1</option>
                    <option _ngcontent-mfy-18="">2</option>
                    <option _ngcontent-mfy-18="">3</option>
                    <option _ngcontent-mfy-18="">4</option>
                    <option _ngcontent-mfy-18="">5</option>
                    <option _ngcontent-mfy-18="">6</option>
                    <option _ngcontent-mfy-18="">7</option>
                    <option _ngcontent-mfy-18="">8</option>
                </select>
            </div>
            <div class="filter-card-10">
                <h5>Filters</h5>
                <div (click)="handleDisplayFiltersButton()" class="form-control input-field display-filters-btn">
                    <i class="ion-funnel filter-button"></i>
                </div>
            </div>
        </div>
    </div>
    
    <!--************** Start of Filters Card**************-->
    <div *ngIf="displayFiltersCard">
        <div class="card select-browse-filters-card">
            <div class="filter-card-row">
                <div class="filter-card-30">
                    <h5>Price Range</h5>
                    <span>{{priceSliderStartValue}} </span>
                    <span>{{priceSliderEndValue}}</span>
                    <ng2-slider 
                        min="0"
                        max="2000"
                        startValue="0"
                        endValue="1000"
                        stepValue="25"
                        [normalHandlerStyle]="{ }"
                        [slidingHandlerStyle]="{}"
                        (onRangeChanged)="priceSliderChanged($event)">
                    </ng2-slider>
                </div>
                <div class="filter-card-30">
                    <h5>Distance from Campus</h5>
                    <span>{{distanceSliderValue}}</span>
                    <ng2-slider 
                        min="0"
                        max="20000"
                        value="10000"
                        stepValue="100"
                        [normalHandlerStyle]="{ }"
                        [slidingHandlerStyle]="{}"
                        (onRangeChanged)="distanceSliderChanged($event)">
                    </ng2-slider>

                </div>
                <div class="filter-card-15">
                    <h5>Type</h5>
                    <select _ngcontent-mfy-18="" class="form-control input-field">
                        <option _ngcontent-mfy-18="">Any</option>
                        <option _ngcontent-mfy-18="">House</option>
                        <option _ngcontent-mfy-18="">Apartment</option>
                        <option _ngcontent-mfy-18="">Shared</option>
                    </select>
                </div>
                <div class="filter-card-15">
                    <h5>Pets</h5>
                    <select _ngcontent-mfy-18="" class="form-control input-field">
                        <option _ngcontent-mfy-18="">Any</option>
                        <option _ngcontent-mfy-18="">Yes</option>
                        <option _ngcontent-mfy-18="">No</option>
                    </select>
                </div>
                <div class="filter-card-15">
                    <h5>Urgent</h5>
                    <select _ngcontent-mfy-18="" class="form-control input-field">
                        <option _ngcontent-mfy-18="">Any</option>
                        <option _ngcontent-mfy-18="">Yes</option>
                        <option _ngcontent-mfy-18="">No</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!--************** End of Filters Card**************-->

    <!--************** Start of Sublet Cards **************-->
    <div *ngFor="let post of filteredSubletsArray; let imageIndex = index" class="col-md-5 col-lg-4">
        <div class="card sublet-card">
            <div class="row sublet-card-header">
                <span class="sublet-price">${{post.price}}</span>
                <span class="sublet-roomates-count">{{post.rooms_available}} <i class="ion-person-stalker"></i></span>
            </div>
            <img class="sublet-card-img-main" src="{{post.images}}" />
            <div class="sublet-card-title">
                <h5 class="sublet-title">{{post.title}}</h5>
            </div>
        </div>
    </div>

    <!--************** End of Sublet Cards **************-->

</div>

<!--************ End of Main Browse Scene ************-->